In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [16]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [17]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_Q1['Japan']

np.int64(80)

In [19]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [ ]:
np.array([1, 2]) * 2 #we cannot directly multiply a Series with a scalar, we need to convert it to a numpy array first
                     #now it works perfectly, as the pandas is already built on top of numpy, it can perform direct operations

array([2, 4])

In [22]:
sales_Q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [ ]:
sales_Q2 #it does not show the Japan key, as it is not present in Q2 data

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [ ]:
sales_Q1 + sales_Q2 #it will not add the Japan and brazil key, as they are not present in both records

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [25]:
sales_Q1.add(sales_Q2, fill_value=0) #it will add the Japan and brazil key, as they are not present in both records

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [26]:
sales_Q1.dtype

dtype('int64')