In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sqlalchemy import create_engine

In [ ]:
temp_db = create_engine('sqlite:///:memory:')  # Create an in-memory SQLite database

In [ ]:
df = pd.DataFrame(data=np.random.randint(0, 100, size=(4, 4)), columns=['A','B', 'C', 'D'])

In [ ]:
df.to_sql(name='new_table', con=temp_db) # Write the DataFrame to the SQL table

In [ ]:
new_df = pd.read_sql(sql='new_table', con=temp_db) # Read the SQL table into a DataFrame
new_df

In [ ]:
pd.read_sql_query(sql='SELECT a,c FROM new_table', con=temp_db) # Read specific columns from the SQL table